/* fixing Navbar position */
.navbar {
    overflow: hidden;
    position:fixed;
    top: 0;
    width: 100%;
}
/* keeping footer at bottom */
footer {
    position: bottom;
    bottom: 0;
    height: 2vh;
}